.coinanchorpane{
    -fx-background-radius: 10px;
    -fx-background-color: #2a2a2a;
}
.loginanchorpane{
    -fx-background-radius: 10px;
}
.chart-plot-background {
    -fx-background-color: transparent;
}
.chart-vertical-grid-lines,
.chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}
.default-color0.chart-series-line {
    -fx-stroke: #00ff90;
    -fx-stroke-width: 2px;
}
.chart-series-line {
    -fx-stroke-width: 2px;
    -fx-stroke: #00ff90;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-legend {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

