.text-field{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-background-color: black;
    -fx-opacity: 30px;
}
.label{
    -fx-text-fill: white;
}
.combo-box{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
}